<div class="container char-container">
    <h1 class="display-1">{{character.name}}</h1>
    <table class="table mt-4">
        <thead class="thead">
          <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Height</th>
            <td>{{character.height}}</td>
          </tr>
          <tr>
            <th scope="row">Mass</th>
            <td>{{character.mass}}</td>
          </tr>
          <tr>
            <th scope="row">Hair Color</th>
            <td>{{character.hairColor}}</td>
          </tr>
          <tr>
            <th scope="row">Skin Color</th>
            <td>{{character.skinColor}}</td>
          </tr>
          <tr>
            <th scope="row">Eye Color</th>
            <td>{{character.eyeColor}}</td>
          </tr>
          <tr>
            <th scope="row">Birth year</th>
            <td>{{character.birthYear}}</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>{{character.gender}}</td>
          </tr>
          <!-- <tr>
            <th scope="row">Homeworld</th>
            <td>{{character.homeworld}}</td>
          </tr> -->
        </tbody>
    </table>
</div>