<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            name: {{character.name}}
        </div>
        <div class="col-sm-3">
            height: {{character.height}}
        </div>
        <div class="col-sm-3">
            mass: {{character.mass}}
        </div>
        <div class="col-sm-3">
            Hair Color: {{character.hair_color}}
        </div>
        <div class="col-sm-3">
            Skin Color: {{character.skin_color}}
        </div>
        <div class="col-sm-3">
            Eye Color: {{character.eye_color}}
        </div>
        <div class="col-sm-3">
            Birth year: {{character.birth_year}}
        </div>
        <div class="col-sm-3">
            Gender:  {{character.gender}}
        </div>
    </div>
</div>
