<div class="container">
    <div class="row">
        <div class="col-sm-3">
            name: {{character.name}}

            Physical Description
            height: {{character.height}}
            mass: {{character.mass}}
            Hair Color: {{character.hair_color}}
            Skin Color: {{character.skin_color}}
            Eye Color: {{character.eye_color}}
            Birth year: {{character.birth_year}}
            Gender:  {{character.gender}}
            

        </div>
    </div>
</div>
